<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->

<!--<h1>Product list</h1>-->

<!--<table>-->
<!--    <tr>-->
<!--        <th>resident_serial_number</th>-->
<!--        <th>name</th>-->
<!--        <th>resident_registration_number</th>-->
<!--        <th>gender_code</th>-->
<!--        <th>birth_date</th>-->
<!--        <th>birth_place_code</th>-->
<!--        <th>registration_place_code</th>-->
<!--        <th>death_date</th>-->
<!--        <th>death_place_code</th>-->
<!--        <th>death_place_address</th>-->
<!--    </tr>-->
<!--    <tr th:each="resident : ${residentList}">-->
<!--        <td th:text="${resident.residentSerialNumber}"/>-->
<!--        <td th:text="${resident.name}"/>-->
<!--        <td th:text="${resident.inStock}? #{true} : #{false}">yes</td>-->
<!--    </tr>-->
<!--</table>-->

<!--<p>-->
<!--    <a href="../home.html" th:href="@{/}">Return to home</a>-->
<!--</p>-->

<!--</body>-->
<!--</html>-->